<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49AE305F1C55EB05000A00CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49AE30731C55EB06000A00CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49AE307E1C55EB06000A00CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
